.slider-item {
    width: auto;
    height: 270px;
    margin: 10px;
    opacity: 0.6;
    filter: brightness(0.6);
    border-radius: 3px;
}

.slider-item.main {
    width: auto;
    height: 390px;
    margin: 20px;
    opacity: 1;
    transform: scale(1.1);
    filter: brightness(1);
    border-radius: 3px;
}